<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SIGED</display-name>
  <distributable/>
<!--   <error-page> -->
<!--     <exception-type>java.lang.Throwable</exception-type> -->
<!--     <location>/erro.jsp</location> -->
<!--   </error-page> -->
<!--   <error-page> -->
<!--     <error-code>404</error-code> -->
<!--     <location>/erro.jsp</location> -->
<!--   </error-page> -->
<!--   <error-page> -->
<!--     <error-code>500</error-code> -->
<!--     <location>/erro.jsp</location> -->
<!--   </error-page> -->
  <servlet>
    <description></description>
    <display-name>CadastrarVinhoServlet</display-name>
    <servlet-name>CadastrarVinhoServlet</servlet-name>
    <servlet-class>bebidas.servlets.CadastrarVinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarVinhoServlet</servlet-name>
    <url-pattern>/CadastrarVinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarVinhoServlet</display-name>
    <servlet-name>EditarVinhoServlet</servlet-name>
    <servlet-class>bebidas.servlets.EditarVinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarVinhoServlet</servlet-name>
    <url-pattern>/EditarVinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirVinhoServlet</display-name>
    <servlet-name>ExcluirVinhoServlet</servlet-name>
    <servlet-class>bebidas.servlets.ExcluirVinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirVinhoServlet</servlet-name>
    <url-pattern>/ExcluirVinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparBdServlet</display-name>
    <servlet-name>LimparBdServlet</servlet-name>
    <servlet-class>bebidas.servlets.LimparBdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparBdServlet</servlet-name>
    <url-pattern>/LimparBdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularBdServlet</display-name>
    <servlet-name>PopularBdServlet</servlet-name>
    <servlet-class>bebidas.servlets.PopularBdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularBdServlet</servlet-name>
    <url-pattern>/PopularBdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteCadas</display-name>
    <servlet-name>ClienteCadas</servlet-name>
    <servlet-class>clientes.servlets.ClienteCadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteCadas</servlet-name>
    <url-pattern>/ClienteCadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarClienteServelet_</display-name>
    <servlet-name>EditarClienteServelet_</servlet-name>
    <servlet-class>clientes.servlets.EditarClienteServelet_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClienteServelet_</servlet-name>
    <url-pattern>/EditarClienteServelet_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirClienteServelet</display-name>
    <servlet-name>ExcluirClienteServelet</servlet-name>
    <servlet-class>clientes.servlets.ExcluirClienteServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirClienteServelet</servlet-name>
    <url-pattern>/ExcluirClienteServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparBdClienteServlet</display-name>
    <servlet-name>LimparBdClienteServlet</servlet-name>
    <servlet-class>clientes.servlets.LimparBdClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparBdClienteServlet</servlet-name>
    <url-pattern>/LimparBdClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularBdEmpregadoServelet</display-name>
    <servlet-name>PopularBdEmpregadoServelet</servlet-name>
    <servlet-class>empregados.servlets.PopularBdEmpregadoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularBdEmpregadoServelet</servlet-name>
    <url-pattern>/PopularBdEmpregadoServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarClienteServlet</display-name>
    <servlet-name>CadastrarClienteServlet</servlet-name>
    <servlet-class>clientes.servlets.CadastrarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarClienteServlet</servlet-name>
    <url-pattern>/CadastrarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirEmpregadoServlet</display-name>
    <servlet-name>ExcluirEmpregadoServlet</servlet-name>
    <servlet-class>empregados.servlets.ExcluirEmpregadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirEmpregadoServlet</servlet-name>
    <url-pattern>/ExcluirEmpregadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarClienteServlet</display-name>
    <servlet-name>EditarClienteServlet</servlet-name>
    <servlet-class>clientes.servlets.EditarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClienteServlet</servlet-name>
    <url-pattern>/EditarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CriarPedidoServlet</display-name>
    <servlet-name>CriarPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.CriarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CriarPedidoServlet</servlet-name>
    <url-pattern>/CriarPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarPedidoServlet</display-name>
    <servlet-name>EditarPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.EditarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPedidoServlet</servlet-name>
    <url-pattern>/EditarPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirPedidoServlet</display-name>
    <servlet-name>ExcluirPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.ExcluirPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirPedidoServlet</servlet-name>
    <url-pattern>/ExcluirPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparBdPedidoServlet</display-name>
    <servlet-name>LimparBdPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.LimparBdPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparBdPedidoServlet</servlet-name>
    <url-pattern>/LimparBdPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularBdPedidoServlet</display-name>
    <servlet-name>PopularBdPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.PopularBdPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularBdPedidoServlet</servlet-name>
    <url-pattern>/PopularBdPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarPedidoPorStatusServlet</display-name>
    <servlet-name>ConsultarPedidoPorStatusServlet</servlet-name>
    <servlet-class>pedidos.servlets.ConsultarPedidoPorStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarPedidoPorStatusServlet</servlet-name>
    <url-pattern>/ConsultarPedidoPorStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>