<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SIGED</display-name>
  <welcome-file-list>
  <welcome-file>login.jsp</welcome-file> 
  </welcome-file-list>
  <distributable/>
  <servlet>
    <description></description>
    <display-name>CadastrarVinhoServlet</display-name>
    <servlet-name>CadastrarVinhoServlet</servlet-name>
    <servlet-class>bebidas.servlets.CadastrarVinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarVinhoServlet</servlet-name>
    <url-pattern>/CadastrarVinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarVinhoServlet</display-name>
    <servlet-name>EditarVinhoServlet</servlet-name>
    <servlet-class>bebidas.servlets.EditarVinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarVinhoServlet</servlet-name>
    <url-pattern>/EditarVinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirVinhoServlet</display-name>
    <servlet-name>ExcluirVinhoServlet</servlet-name>
    <servlet-class>bebidas.servlets.ExcluirVinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirVinhoServlet</servlet-name>
    <url-pattern>/ExcluirVinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparBdServlet</display-name>
    <servlet-name>LimparBdServlet</servlet-name>
    <servlet-class>bebidas.servlets.LimparBdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparBdServlet</servlet-name>
    <url-pattern>/LimparBdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularBdServlet</display-name>
    <servlet-name>PopularBdServlet</servlet-name>
    <servlet-class>bebidas.servlets.PopularBdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularBdServlet</servlet-name>
    <url-pattern>/PopularBdServlet</url-pattern>
  </servlet-mapping>
<!--  indicador -->
  <servlet>
    <description></description>
    <display-name>CadastrarIndicadorServlet</display-name>
    <servlet-name>CadastrarIndicadorServlet</servlet-name>
    <servlet-class>indicadores.servlets.CadastrarIndicadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarIndicadorServlet</servlet-name>
    <url-pattern>/CadastrarIndicadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarIndicadorServlet</display-name>
    <servlet-name>EditarIndicadorServlet</servlet-name>
    <servlet-class>indicadores.servlets.EditarIndicadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarIndicadorServlet</servlet-name>
    <url-pattern>/EditarIndicadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirIndicadorServlet</display-name>
    <servlet-name>ExcluirIndicadorServlet</servlet-name>
    <servlet-class>indicadores.servlets.ExcluirIndicadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirIndicadorServlet</servlet-name>
    <url-pattern>/ExcluirIndicadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparBdIndicadorServlet</display-name>
    <servlet-name>LimparBdIndicadorServlet</servlet-name>
    <servlet-class>indicadores.servlets.LimparBdIndicadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparBdIndicadorServlet</servlet-name>
    <url-pattern>/LimparBdIndicadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularBdIndicadorServlet</display-name>
    <servlet-name>PopularBdIndicadorServlet</servlet-name>
    <servlet-class>indicadores.servlets.PopularBdIndicadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularBdIndicadorServlet</servlet-name>
    <url-pattern>/PopularBdIndicadorServlet</url-pattern>
  </servlet-mapping>

<!--  FIM DO INDICADOR  -->
<!--   INICIO DO EMPREGADO -->

<servlet>
    <description></description>
    <display-name>CadastrarEmpregadoServlet</display-name>
    <servlet-name>CadastrarEmpregadoServlet</servlet-name>
    <servlet-class>empregados.servlets.CadastrarEmpregadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarEmpregadoServlet</servlet-name>
    <url-pattern>/CadastrarEmpregadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarEmpregadoServlet</display-name>
    <servlet-name>EditarEmpregadoServlet</servlet-name>
    <servlet-class>empregados.servlets.EditarEmpregadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarEmpregadoServlet</servlet-name>
    <url-pattern>/EditarEmpregadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirEmpregadoServlet</display-name>
    <servlet-name>ExcluirEmpregadoServlet</servlet-name>
    <servlet-class>empregados.servlets.ExcluirEmpregadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirEmpregadoServlet</servlet-name>
    <url-pattern>/ExcluirEmpregadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparBdEmpregadoServlet</display-name>
    <servlet-name>LimparBdEmpregadoServlet</servlet-name>
    <servlet-class>empregados.servlets.LimparBdEmpregadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparBdEmpregadoServlet</servlet-name>
    <url-pattern>/LimparBdEmpregadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularBdEmpregadoServlet</display-name>
    <servlet-name>PopularBdEmpregadoServlet</servlet-name>
    <servlet-class>empregados.servlets.PopularBdEmpregadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularBdEmpregadoServlet</servlet-name>
    <url-pattern>/PopularBdEmpregadoServlet</url-pattern>
  </servlet-mapping>


<!-- FIM DO EMPREGADO -->
    <servlet>
    <description></description>
    <display-name>ClienteCadas</display-name>
    <servlet-name>ClienteCadas</servlet-name>
    <servlet-class>clientes.servlets.ClienteCadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteCadas</servlet-name>
    <url-pattern>/ClienteCadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarClienteServelet_</display-name>
    <servlet-name>EditarClienteServelet_</servlet-name>
    <servlet-class>clientes.servlets.EditarClienteServelet_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClienteServelet_</servlet-name>
    <url-pattern>/EditarClienteServelet_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirClienteServelet</display-name>
    <servlet-name>ExcluirClienteServelet</servlet-name>
    <servlet-class>clientes.servlets.ExcluirClienteServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirClienteServelet</servlet-name>
    <url-pattern>/ExcluirClienteServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparBdClienteServlet</display-name>
    <servlet-name>LimparBdClienteServlet</servlet-name>
    <servlet-class>clientes.servlets.LimparBdClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparBdClienteServlet</servlet-name>
    <url-pattern>/LimparBdClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularBdEmpregadoServelet</display-name>
    <servlet-name>PopularBdEmpregadoServelet</servlet-name>
    <servlet-class>empregados.servlets.PopularBdEmpregadoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularBdEmpregadoServelet</servlet-name>
    <url-pattern>/PopularBdEmpregadoServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarClienteServlet</display-name>
    <servlet-name>CadastrarClienteServlet</servlet-name>
    <servlet-class>clientes.servlets.CadastrarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarClienteServlet</servlet-name>
    <url-pattern>/CadastrarClienteServlet</url-pattern>
  </servlet-mapping>
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>ExcluirEmpregadoServlet</display-name> -->
<!--     <servlet-name>ExcluirEmpregadoServlet</servlet-name> -->
<!--     <servlet-class>empregados.servlets.ExcluirEmpregadoServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ExcluirEmpregadoServlet</servlet-name> -->
<!--     <url-pattern>/ExcluirEmpregadoServlet</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>EditarClienteServlet</display-name>
    <servlet-name>EditarClienteServlet</servlet-name>
    <servlet-class>clientes.servlets.EditarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClienteServlet</servlet-name>
    <url-pattern>/EditarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CriarPedidoServlet</display-name>
    <servlet-name>CriarPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.CriarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CriarPedidoServlet</servlet-name>
    <url-pattern>/CriarPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarPedidoServlet</display-name>
    <servlet-name>EditarPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.EditarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPedidoServlet</servlet-name>
    <url-pattern>/EditarPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirPedidoServlet</display-name>
    <servlet-name>ExcluirPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.ExcluirPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirPedidoServlet</servlet-name>
    <url-pattern>/ExcluirPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimparBdPedidoServlet</display-name>
    <servlet-name>LimparBdPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.LimparBdPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimparBdPedidoServlet</servlet-name>
    <url-pattern>/LimparBdPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularBdPedidoServlet</display-name>
    <servlet-name>PopularBdPedidoServlet</servlet-name>
    <servlet-class>pedidos.servlets.PopularBdPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularBdPedidoServlet</servlet-name>
    <url-pattern>/PopularBdPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarPedidoPorStatusServlet</display-name>
    <servlet-name>ConsultarPedidoPorStatusServlet</servlet-name>
    <servlet-class>pedidos.servlets.ConsultarPedidoPorStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarPedidoPorStatusServlet</servlet-name>
    <url-pattern>/ConsultarPedidoPorStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indicadores</display-name>
    <servlet-name>indicadores</servlet-name>
    <servlet-class>indicadores.model.indicadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indicadores</servlet-name>
    <url-pattern>/indicadores</url-pattern>
  </servlet-mapping>
</web-app>